
body {
    background-color: #f0f0f0; 
    color: #333333; 
}


.destaque {
    color: #3498db; 
}

a {
    color: #3498db; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}
body {
    width: 960px; 
    margin: 0 auto; 
}
body {
    font-family: 'Arial', sans-serif; 
}
p {
    text-indent: 1em; 
}h1, h2, h3 {
    text-align: center; 
    
}

h1 {
    font-size: 1.8rem; 
}

h2 {
    font-size: 1.4rem; 
}

h3 {
    font-size: 1.2rem; 
}
.resumo {
    text-align: center;
}
.principal p {
    line-height: 1.5;
}
abbr {
    font-variant: small-caps; 
}

body {
    width: 80%; 
    max-width: 1280px; 
    margin: 0 auto; 
}
.intro {
    height: 550px; 
}
#design-archives {
    display: none; 
}
header {
    background-color: #333333; 
    color: #ffffff; 
    padding: 1em; 
}

header h1, header h2 {
    display: inline-block; 
    margin-right: 1em; 
}
header {
    background-color: #333333; 
    color: #ffffff; 
    padding: 1em; 
}

header h1, header h2 {
    display: inline-block; 
    margin-right: 1em; 
}
header h1 {
    margin-left: 1em; 
}
.menu-lateral {
    list-style-type: none; 
}

.menu-superior {
    list-style-type: none; 
}

.menu-lateral li, .menu-superior li {
    margin-bottom: 1em; 
    text-align: center; 
}
footer {
    padding: 4%; 
}

footer a {
    display: inline-block; 
    border: 2px solid #333333; 
    padding: 0.5em; 
}
